.landing {
  background: #38846d;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.image_left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}
.image_right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
}

.logo {
  position: relative;
  top: 35%;
  margin: 0 auto;
  display: block;
}
