.navbar {
  width: 375px;
  height: 113px;
  top: 0;
  left: 0;
}

.navbar__cart {
  background: #2f2926;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  position: absolute;
  width: 48px;
  height: 48px;
  right: 40.9%;
  top: 16px;
  cursor: pointer;
}

.navbar__logo {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.cart__image {
  width: 20px;
  height: 20px;
  object-fit: contain;
  color: white;
  margin: 0 auto;
  top: 13px;
  left: 14px;
  position: relative;
}

.cart__counter {
  position: absolute;
  left: 68.73%;
  right: -1.6%;
  top: -7.52%;
  background: #e5674e;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 170%;
  align-items: center;
  text-align: center;
  font-size: 12px;
  color: white;
}

.navigation__listCart {
  top: 0;
  left: 10px;
  background: black;
  opacity: 0;
  visibility: hidden;
}

.activeCart {
  opacity: 1;
  visibility: visible;
  z-index: 11;
  overflow-x: hidden;
  position: absolute;
  width: 341px;
  height: 658.96px;
  left: 41.1%;
  top: 77.04px;
  background: #ffffff;
  border-radius: 4px;
}

.navigation__menu-toggle {
  background: white;
  border-radius: 50%;
  position: absolute;
  width: 48px;
  height: 48px;
  left: 40.9%;
  top: 16px;
  z-index: 10;
  cursor: pointer;
}

.overlayCart {
  width: 375px;
  height: 812px;
  position: absolute;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  z-index: 10;
}
.overlayCart:after {
  content: ' ';
  position: absolute;
  left: 88%;
  top: 63px;
  border-top: none;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 15px solid #ffffff;
  border-radius: 2px;
}

.hideOverlay {
  opacity: 0;
  visibility: hidden;
}
