.navbar {
  width: 375px;
  height: 113px;
  top: 0;
  left: 0;
}

.navbar__cart {
  background: #2f2926;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  position: absolute;
  width: 48px;
  height: 48px;
  right: 40.9%;
  top: 16px;
  cursor: pointer;
}

.navbar__logo {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.cart__image {
  width: 20px;
  height: 20px;
  object-fit: contain;
  color: white;
  margin: 0 auto;
  top: 13px;
  left: 14px;
  position: relative;
}

.cart__counter {
  position: absolute;
  left: 68.73%;
  right: -1.6%;
  top: -7.52%;
  background: #e5674e;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 170%;
  align-items: center;
  text-align: center;
  font-size: 12px;
  color: white;
}
