.cartItem {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
}

.cartItem__details {
  padding: 0 20px 0 20px;
}

.details__title {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary-color);
  justify-self: end;
}

.details__price {
  font-size: 12px;
  font-weight: 300;
  color: var(--secondary-color);
}

.cartItem__actions {
  justify-self: end;
}

.cartItem__qty {
  display: flex;
  align-items: center;
}

.cartItem__qty input {
  padding: 10px;
  margin-left: 0.4rem;
  width: 60px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  outline: none;
}

.actions__deleteItemBtn {
  width: 32px;
  height: 32px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  font-size: 30px;
  font-weight: 300;
  cursor: pointer;
  outline: none;
}

.actions__deleteItemBtn img {
  width: 25px;
  height: 25px;
}

.buttons__btn {
  width: 32px;
  height: 32px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.buttons__btn:hover {
  opacity: 0.7;
}

.buttons__add {
  background: var(--secondary-color);
  color: var(--light-color);
}
