.cartItem {
  margin-bottom: 1rem;
  display: flex;
}

.cartItem__details {
  padding: 1rem;
}

.details__title {
  font-size: 23px;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.details__desc {
  font-size: 0.85rem;
  color: var(--secondary-color);
}

.details__price {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--secondary-color);
  display: flex;
  padding-top: 27px;
}

.cartItem__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.6rem;
}

.cartItem__qty {
  display: flex;
  align-items: center;
}

.cartItem__qty input {
  padding: 10px;
  margin-left: 0.4rem;
  width: 60px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  outline: none;
}

.actions__deleteItemBtn {
  width: 32px;
  height: 32px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  font-size: 30px;
  font-weight: 300;
  cursor: pointer;
  outline: none;
}

.actions__deleteItemBtn img {
  width: 25px;
  height: 25px;
}
